.liked_avatar_item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-self: center;
  background-color: red;
  margin-right: -15px;
  overflow: hidden;
  cursor: pointer;

  &:hover {
    z-index: 55;
    margin-top: -5px;
  }
}
